{% extends '::layout.html.twig' %}
{% set location = '' %}

{% block title %}403 forbidden{% endblock %}

{% block body %}
<article>
    <header class="page-header">
        <h2>403 forbidden</h2>
    </header>

    <aside class="side-image">
        <img src="{{ asset('img/403-tsubasa.jpg') }}" alt="">
    </aside>

    <div class="content">
        <div class="alert">The resource you were trying to access is forbidden. This might have happened for a number of reasons:</div>
        <ul>
            <li>Voting is restricted to <b>1 vote, per unique IP address, per line per four hours</b>. In other words, you can only vote for the same line every four hours.</li>
            <li>Voting is also restricted to <b>450 votes per hour per unique IP address</b>. That means on average you can vote for a line every 8 seconds.</li>
            <li>Flagging is restricted to <b>10 flags per unique IP address per hour</b>.</li>
            <li>Suggestions (both for series and files) is restricted to <b>10 suggestions per unique IP address per hour</b>.</li>
        </ul>
        <p>All of these restrictions are in place to prevent abuse and are rolling values. These values may change if usage of the site changes. If you're running into these limits regularly, it may get sorted in the future. Just <a href="https://twitter.com/fansub_ebooks">tweet @fansub_ebooks</a> for more information.</p>
        <p>Alternatively, you might have just tried to get somewhere you're not supposed to. <b>Naughty</b>.</p>
    </div>
</article>
{% endblock %}
