// homepage styles
.home {
    #header {
        margin: -12px -24px 0;
        padding: 12px 24px 0;
        background: $orange;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
        color: #FFF;

        #header-inner {
            border-bottom-color: $orange-darker;
        }

        .marque {
            color: #FFF;

            span {
                color: #FFF;
            }
        }

        .navbar {
            a {
                color: #FFF;
            }
        }
    }
}

#home-feature {
    @include clearfix;
    position: relative;
    padding: 24px 0;

    .tweet {
        float: left;
        width: 75%;
        box-sizing: border-box;
        padding-right: 24px;

        @media (max-width: 480px) {
            float: none;
            width: 100%;
            padding-right: 0;
        }

        a {
            color: #FFF;
        }

        .tweet-tweet {
            font-size: $font-size-jumbo;

            @media (max-width: 768px) {
                font-size: $font-size-jumbo / 1.5;
            }
        }

        .tweet-account {
            background: $beige;
            color: $orange;
        }

        .tweet-favourite, .tweet-retweet, .tweet-reply {
            display: inline;
            width: auto;
            height: auto;

            svg {
                width: 32px;
                height: 32px;

                path {
                    transition: fill 0.15s linear;
                    fill: $beige;
                }
            }

            &:hover {
                svg path { fill: #FFF; }
            }
        }

        .tweet-account, .tweet-favourite, .tweet-retweet, .tweet-reply {
            opacity: 0.7;
            transition: opacity 0.1s linear;

            &:hover {
                opacity: 1;
            }
        }
    }

    .stats {
        float: left;
        width: 25%;

        @media (max-width: 480px) {
            float: none;
            width: 100%;

            .stat {
                float: left;
                width: 50%;

                & + .stat {
                    margin-top: 0;
                }
            }
        }

        .stat-title {
            color: $grey-darker;
            margin-bottom: 6px;
        }

        .stat-stat {
            font-size: $font-size-jumbo;
            line-height: 1;

            @media (max-width: 768px) {
                font-size: $font-size-jumbo / 1.5;
            }
        }
    }
}

.activity {
    .activity-entry {
        padding: 3px 0;
    }

    .activity-voteup, .activity-votedown, .activity-flag {
        padding-left: 24px;
        position: relative;

        &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 3px;
            width: 24px;
            height: 24px;
        }
    }

    .activity-voteup:before {
        background: url(/img/voteup.svg) no-repeat 0 0;
        background-size: 22px;
    }

    .activity-votedown:before {
        background: url(/img/votedown.svg) no-repeat 0 0;
        background-size: 22px;
    }

    .activity-flag:before {
        background: url(/img/flag.svg) no-repeat 3px 2px;
        background-size: 18px;
    }

    time {
        font-size: $font-size-small;
        float: right;
        color: $grey-lighter;
    }
}

.stat {
    .stat-title {
        font-size: $font-size-h5;
        text-transform: uppercase;
        color: $grey-lighter;
    }

    .stat-stat {
        display: block;
        font-size: $font-size-large;
        line-height: 1.1;
    }

    & + .stat {
        margin-top: 24px;
    }
}

.intro {
    text-align: center;
    margin: 48px 0;
    font-size: $font-size-large;

    p {
        margin-bottom: 6px;
    }

    .btn:hover {
        background: $orange;
        border-color: $orange;
    }
}

#recently-tweeted {
    float: left;
    width: 67%;
    box-sizing: border-box;
    padding-right: 24px;
    margin-bottom: 24px;

    .panel-actions {
        right: 24px;
    }
}

#activity {
    float: left;
    width: 33%;
    box-sizing: border-box;
    padding-left: 24px;
    margin-bottom: 24px;
}

#upcoming {
    clear: left;
    float: left;
    box-sizing: border-box;
    width: 33%;
    padding-right: 24px;
    margin-bottom: 24px;
}

#recently-updated {
    float: left;
    box-sizing: border-box;
    width: 67%;
    padding-left: 24px;

}

@media (max-width: 768px) {
    #upcoming, #recently-updated {
        width: 100%;
        float: none;
        padding: 0;
    }
}
