// homepage styles
.home {
    #header {
        margin: -12px -24px 0;
        padding: 12px 24px 0;
        background: $orange;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
        color: #FFF;

        #header-inner {
            border-bottom-color: $orange-darker;
        }

        .marque {
            color: #FFF;

            span {
                color: #FFF;
            }
        }

        .navbar {
            a {
                color: #FFF;
            }
        }
    }
}

#home-feature {
    @include clearfix;
    position: relative;
    padding: 24px 0;

    .tweet {
        float: left;
        width: 75%;

        a {
            color: #FFF;
        }

        .tweet-tweet {
            font-size: $font-size-jumbo;
        }

        .tweet-account {
            background: $beige;
            color: $orange;
        }

        .tweet-favourite, .tweet-retweet, .tweet-reply {
            svg path { fill: $beige; }
        }

        .tweet-account, .tweet-favourite, .tweet-retweet, .tweet-reply {
            opacity: 0.7;
            transition: opacity 0.1s linear;

            &:hover {
                opacity: 1;
            }
        }
    }

    .stats {
        float: left;
        width: 25%;

        .stat-title {
            color: $grey-darker;
            margin-bottom: 6px;
        }

        .stat-stat {
            font-size: $font-size-jumbo;
            line-height: 1;
        }
    }
}

.tweet {
    line-height: 1;
    margin-bottom: 24px;

    .tweet-title {
        font-size: $font-size-h5;
        text-transform: uppercase;
        margin-bottom: 6px;
    }

    .tweet-series {
        margin-top: 24px;
    }

    .tweet-details {
        margin-top: 12px;
        line-height: 1;
    }

    .tweet-actions {
        display: inline-block;
    }

    .tweet-account {
        box-sizing: border-box;
        padding: 7px 6px 0;
        height: 27px;
        background: $grey;
        color: $beige;
        border: none;
        border-radius: 30px;
        display: inline-block;
        text-decoration: none;
        font-size: $font-size-small;
        vertical-align: 100%;
        transition: background-color 0.15s linear;

        &:hover {
            background: $orange;
        }
    }

    .tweet-favourite, .tweet-reply, .tweet-retweet {
        svg {
            width: 32px;
            height: 32px;

            path {
                transition: fill 0.15s linear;
                fill: $grey;
            }
        }

        &:hover {
            svg path { fill: $orange; }
        }
    }

    .tweet-datetime {
        display: inline-block;
        vertical-align: 100%;
        font-size: $font-size-small;
    }
}

.stat {
    .stat-title {
        font-size: $font-size-h5;
        text-transform: uppercase;
        color: $grey-lighter;
    }

    .stat-stat {
        display: block;
        font-size: $font-size-large;
        line-height: 1.1;
    }

    & + .stat {
        margin-top: 24px;
    }
}

.intro {
    text-align: center;
    margin: 48px 0;
    font-size: $font-size-large;

    p {
        margin-bottom: 6px;
    }

    .btn:hover {
        background: $orange;
        border-color: $orange;
    }
}

#upcoming {
    float: left;
    box-sizing: border-box;
    width: 33%;
    padding-right: 24px;
}

#recently-updated {
    float: left;
    box-sizing: border-box;
    width: 67%;
    padding-left: 24px;
}
