.line-grid {
    display: flex;
    flex-flow: row wrap;
    margin: 0 -3px;

    .line {
        display: flex;
        flex-flow: column nowrap;
        flex: 1 0 470px;
        box-sizing: border-box;
        width: 477px;
        margin: 0 3px 6px;

        .line-line {
            flex: 1 0 auto;
            font-size: $body-font-base-size * 1.5;
        }

        .line-actions {
            flex: 0 0 auto;
        }
    }
}

.line {
    border: 1px solid $beige-light;
    padding: 8px 12px;
    border-radius: 8px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    margin-bottom: 6px;

    .line-line {
        font-size: $body-font-base-size * 2;
        line-height: 1.1;
        margin-bottom: 12px;
    }

    .line-voteup, .line-votes, .line-votedown, .line-flag {
        display: inline-block;
        vertical-align: middle;
    }

    .line-voteup, .line-votedown, .line-flag {
        button {
            background: none;
            border: none;
            padding: 0;
            margin: 0;
            font-size: 0;
            width: 28px;
            height: 28px;
            opacity: 0.3;
            transition: opacity 0.15s linear;

            &:hover {
                opacity: 1;
            }
        }
    }

    .line-voteup button {
        background: url(/img/voteup.svg) no-repeat 0 0;
        background-size: 28px;
    }

    .line-votedown button {
        background: url(/img/votedown.svg) no-repeat 0 0;
        background-size: 28px;
    }

    .line-flag button {
        background: url(/img/flag.svg) no-repeat 3px 3px;
        background-size: 22px;
    }

    .line-votes, .line-link {
        font-size: $body-font-base-size * 0.7;
    }

    .line-link {
        margin-top: 9px;
        float: right;
    }
}
