.line-grid {
    display: flex;
    flex-flow: row wrap;
    margin: 0 -12px;

    .line {
        display: flex;
        flex-flow: column nowrap;
        flex: 1 0 350px;
        box-sizing: border-box;
        margin: 0 12px 24px;

        .line-line {
            flex: 1 0 auto;
            font-size: $font-size-large;
        }

        .line-actions {
            flex: 0 0 auto;
        }
    }
}

.line {
    border-left: 6px solid $beige-darker;
    padding: 8px 12px;
    margin-bottom: 24px;
    transition: border-left-color 0.15s linear;

    &:hover {
        border-left-color: $orange;
    }

    .line-line {
        font-size: $font-size-large;
        line-height: 1.1;
        margin-bottom: 12px;
    }

    .line-voteup, .line-votes, .line-votedown, .line-flag {
        display: inline-block;
        vertical-align: middle;
    }

    .line-voteup, .line-votedown, .line-flag {
        button {
            background: none;
            border: none;
            padding: 0;
            margin: 0;
            font-size: 0;
            width: 28px;
            height: 28px;
            opacity: 0.3;
            filter: saturate(0);
            transition: opacity 0.15s linear,
                filter 0.15s linear;

            &:hover {
                opacity: 1;
                filter: saturate(100%);
            }
        }
    }

    .line-voteup button {
        background: url(/img/voteup.svg) no-repeat 0 0;
        background-size: 28px;
    }

    .line-votedown button {
        background: url(/img/votedown.svg) no-repeat 0 0;
        background-size: 28px;
    }

    .line-flag button {
        background: url(/img/flag.svg) no-repeat 3px 3px;
        background-size: 22px;
    }

    .line-votes {
        font-size: $font-size-small;
    }

    .line-links {
        float: right;
        padding-top: 6px;
    }

    .line-permalink, .line-tweet {
        font-size: 0;
        color: transparent;
        opacity: 0.3;
        display: inline-block;
        vertical-align: top;
        width: 22px;
        height: 22px;
        filter: saturate(0);
        transition: opacity 0.15s linear,
            filter 0.15s linear;

        &:hover {
            filter: saturate(100%);
            opacity: 1;
        }
    }

    .line-permalink {
        background: url(/img/link.svg) no-repeat 3px 3px;
        background-size: 16px;
        margin-right: -3px;
    }

    .line-tweet {
        background: url(/img/twitter.svg) no-repeat 0 0;
        background-size: 22px;
    }
}

.line-nav {
    margin-top: 32px;
    position: relative;
    text-align: center;

    .line-nav-prev {
        position: absolute;
        left: 0;
        top: 0;
    }

    .line-nav-next {
        position: absolute;
        right: 0;
        top: 0;
    }
}
