.quiz {
    border-bottom: 1px solid $beige-darker;
    height: 40px;

    .quiz-loggedin {
        font-size: $font-size-small;
        padding-top: 6px;

        img {
            width: 26px;
            height: 26px;
            border: 1px solid $beige-darker;
            border-radius: 4px;
        }

        img, .btn {
            vertical-align: middle;
        }
    }

    .quiz-score {
        line-height: 1;
        float: right;
        height: 40px;
        box-sizing: border-box;
        padding: 8px 0 0 6px;
        text-decoration: none;
        color: $text-color;
        transition: background-color .15s ease-in-out;

        &:hover {
            background: $beige-darker;
        }

        b {
            font-size: $font-size-large;
            display: inline-block;
            vertical-align: -2px;
            border-radius: 8px;
            color: #FFF;
            padding: 3px 6px;
        }

        .quiz-score-correct b {
            background-color: $correct-color;
        }

        .quiz-score-wrong b {
            background-color: $incorrect-color;
        }

        .quiz-score-skipped b {
            background-color: $skipped-color;
        }
    }
}

.question {
    .question-line {
        margin: 24px auto;
        width: 75%;
        text-align: center;
    }

    .question-skip {
        text-align: center;
    }

    .question-result {
        text-align: center;

        p {
            font-size: $font-size-h1;
        }
    }

    .question-info {
        margin-top: 24px;
        border-top: 1px solid $beige-darker;
        padding-top: 24px;
        text-align: left;
        font-size: $font-size-small;
    }
}

.answers {
    text-align: center;
    margin-bottom: 48px;

    .answer {
        display: inline-block;
        vertical-align: top;
        width: 250px;
        margin: 0 24px;
    }
}

.answer {
    position: relative;

    .answer-button {
        border: none;
        cursor: pointer;
        background: none;
        padding: 0;
        margin: 0;
        line-height: 1;
    }

    .answer-choice {
        background: $orange;
        position: absolute;
        left: 50%;
        top: -14px;
        width: 86px;
        margin-left: -43px;
        text-align: center;
        border-radius: 4px;
        color: #FFF;
        padding: 4px;
    }

    .answer-correct, .answer-incorrect {
        display: inline-block;
        border-radius: 4px;
        color: #FFF;
        padding: 4px;
        font-size: $font-size-large;
    }

    .answer-correct {
        background: $correct-color;
    }

    .answer-incorrect {
        background: $incorrect-color;
    }
}

#quiz-intro {
    height: 506px;
    box-sizing: border-box;
    position: relative;
    text-align: center;
    padding-top: 200px;
    font-size: $font-size-large;
    margin-bottom: 24px;

    h1 {
        font-size: $font-size-jumbo;
    }

    .btn {
        margin-top: 32px;
        font-size: $font-size-h3;
        padding-left: 52px;
        position: relative;

        &:before {
            content: '';
            display: inline-block;
            background: url(/img/twitter-white.svg) no-repeat 0 0;
            background-size: 32px 32px;
            width: 32px;
            height: 32px;
            position: absolute;
            left: 10px;
            top: 6px;
        }
    }

    #quiz-intro-series {
        font-size: 0;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        z-index: -1;

        img {
            display: inline-block;
            width: 10%;
            opacity: 0.15;
        }
    }
}

#quiz-howtoplay, #quiz-dailyleaderboard {
    float: left;
    width: 50%;
    box-sizing: border-box;
}

#quiz-howtoplay {
    padding-right: 24px;

    ol {
        counter-reset: howtoplay;
        font-size: $font-size-large;

        li {
            position: relative;
            padding: 0 0 0 32px;
            min-height: 24px;
            margin-bottom: 6px;

            &:before {
                content: counter(howtoplay);
                counter-increment: howtoplay;
                font-size: $font-size-base;
                font-weight: bold;
                position: absolute;
                left: 0;
                top: 2px;
                color: #FFF;
                background: $orange;
                border-radius: 50%;
                width: 24px;
                height: 24px;
                box-sizing: border-box;
                padding: 5px 0 0;
                text-align: center;
                line-height: 1;
            }
        }
    }
}

#quiz-dailyleaderboard {
    padding-left: 24px;
}
