#series-header {
    @include clearfix;
    margin-bottom: 24px;

    h2 {
        margin: 24px 0;
    }
}


#series-thumbnail, #series-stats {
    float: left;
    width: 20%;
    padding-right: 24px;
    box-sizing: border-box;
}

#series-nav {
    margin-left: 40%;
}

.seriesgrid {
    display: flex;
    flex-flow: row wrap;
    margin: 0 -12px;

    .seriesgrid-title {
        border-bottom: 1px solid $beige-darker;
    }

    .series {
        flex: 1 0 auto;
        width: 20%;
        box-sizing: border-box;
        padding: 0 12px;
        margin-bottom: 24px;
    }
}

.series {
    text-decoration: none;
    color: $text-color;
    display: block;

    .series-thumbnail {
        display: block;
        margin-bottom: 6px;
        border: 1px solid $beige-darker;
        border-bottom-width: 6px;
        transition: border-color 0.15s linear;
    }

    .series-title {
        font-size: $font-size-h4;
        font-weight: normal;
        margin-bottom: 6px;
        transition: color 0.15s linear;
    }

    .series-stats {
        font-size: $font-size-small;
        line-height: 1.2;
    }

    &:hover {
        .series-title {
            color: $orange;
            text-decoration: underline;
        }

        .series-thumbnail {
            border-color: $orange;
        }
    }
}

.filelist {
    font-size: $font-size-small;
    line-height: 1;
    column-count: 2;

    > li {
        margin-bottom: 4px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        a {
            color: $grey;
            text-decoration: none;

            &:before {
                content: '';
                width: 16px;
                height: 16px;
                display: inline-block;
                background: url(/img/file.svg) no-repeat 0 0;
                background-size: 16px 16px;
                vertical-align: -3px;
                filter: saturate(0);
            }

            &:hover {
                text-decoration: underline;
            }
        }

        &.on {
            a {
                color: $orange;

                &:before {
                    filter: saturate(100%);
                }
            }
        }
    }
}
