.tweetlist {
    display: flex;
    flex-flow: row wrap;
    margin: 12px 0 0;

    .tweet {
        display: flex;
        flex-flow: column nowrap;
        flex: 1 0 340px;
        box-sizing: border-box;

        .tweet-tweet {
            flex: 1 0 auto;
        }

        .tweet-details {
            flex: 0 0 auto;
        }
    }
}

.tweet {
    border-left: 6px solid $beige-darker;
    padding: 8px 12px 4px;
    line-height: 1;
    margin-bottom: 24px;
    transition: border-left-color 0.15s linear;

    &:hover {
        border-left-color: $orange;
    }

    .tweet-title {
        font-size: $font-size-h5;
        text-transform: uppercase;
        margin-bottom: 6px;
    }

    .tweet-tweet {
        font-size: $font-size-large;
        line-height: 1.1;
    }

    .tweet-details {
        margin-top: 24px;
        line-height: 1;
    }

    .tweet-series {
        margin-bottom: 6px;
        white-space: nowrap;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .tweet-actions {
        display: inline-block;
        vertical-align: middle;
    }

    .tweet-account {
        box-sizing: border-box;
        padding: 7px 6px 0;
        height: 27px;
        background: $grey;
        color: $beige;
        border: none;
        border-radius: 30px;
        display: inline-block;
        text-decoration: none;
        font-size: $font-size-small;
        vertical-align: 100%;
        transition: background-color 0.15s linear;

        &:hover {
            background: $orange;
        }
    }

    .tweet-favourite, .tweet-reply, .tweet-retweet {
        display: inline-block;
        color: transparent;
        width: 28px;
        height: 28px;
        overflow: hidden;
        opacity: 0.3;
        filter: saturate(0);
        transition: opacity 0.15s linear,
            filter 0.15s linear;

        &:hover {
            opacity: 1;
            filter: saturate(100%);
        }
    }

    .tweet-favourite {
        background: url(/img/favourite.svg) no-repeat 0 0;
        background-size: 28px;
    }

    .tweet-reply {
        background: url(/img/reply.svg) no-repeat 0 0;
        background-size: 28px;
    }

    .tweet-retweet {
        background: url(/img/retweet.svg) no-repeat 0 0;
        background-size: 28px;
    }

    .tweet-datetime {
        display: inline-block;
        vertical-align: middle;
        font-size: $font-size-small;
    }
}

// twitter embed
.twitter-tweet {
    border-left: 6px solid $orange;
    padding: 0 0 0 12px;
    font-size: $font-size-small;

    p {
        font-size: $font-size-large;
        margin-bottom: 12px;
    }
}

.tweettrain {
    font-size: 0;
    text-align: justify;

    &:after {
        content: '';
        display: inline-block;
        width: 100%;
    }

    .tweettrain-tweet {
        text-align: left;
        font-size: $font-size-base;
        display: inline-block;
        vertical-align: top;
        width: 33%;
    }

    .tweettrain-details {
        font-size: $font-size-small;
        color: $grey-lighter;
        width: 100%;
        margin: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
