/**
 * fansubebooks.chaostangent.com
 *
 * @author John Noel <john.noel@chaostangent.com>
 * @package FansubEbooks
 * @see https://github.com/twbs/bootstrap-sass/blob/master/assets/stylesheets/bootstrap/_variables.scss
 */

$grey: #444;
$grey-darker: darken($grey, 20%); // #2B2B2B
$grey-lighter: lighten($grey, 20%); // #777
$grey-lightest: lighten($grey, 50%); // #C4C4C4
$beige: #FBFBF9;
$beige-darker: #E6E4DD;
$beige-lighter: lighten($beige, 3%);
$orange: #D54000;
$orange-darker: darken($orange, 7%);
$orange-lighter: lighten($orange, 5%);

$font-family-sans-serif: Arial, 'Helvetica Neue', Helvetica, sans-serif;
$font-family-monospace: Consolas, 'Source Sans Pro', 'Courier New', monospace;

$font-size-base: 14px;
$font-size-small: ceil(($font-size-base * 0.85)); // ~12px
$font-size-large: ceil(($font-size-base * 1.25)); // ~18px
$font-size-jumbo: ceil(($font-size-base * 3.5));

$font-size-h1: floor(($font-size-base * 2.6)); // ~36px
$font-size-h2: floor(($font-size-base * 2.15)); // ~30px
$font-size-h3: ceil(($font-size-base * 1.7)); // ~24px
$font-size-h4: ceil(($font-size-base * 1.25)); // ~18px
$font-size-h5: $font-size-base;
$font-size-h6: ceil(($font-size-base * 0.85)); // ~12px

$text-color: $grey;
$link-color: $orange;
$link-color-visited: $orange-darker;

$headings-font-family: Vegur, Arial, 'Helvetica Neue', Helvetica, sans-serif;
$headings-font-weight: 400;
$headings-line-height: 1.1;
$headings-color: darken($grey, 10%);

$line-height-base: 1.428571429; // 20/14
$line-height-computed: floor(($font-size-base * $line-height-base)); // ~20px

@import 'reset';
@import 'mixins';
@import 'util';

@import 'global';
@import 'home';
@import 'line';
@import 'series';
@import 'search';
