/**
 * fansubebooks.chaostangent.com
 *
 * @author John Noel <john.noel@chaostangent.com>
 * @package FansubEbooks
 */

@import 'reset';

.line-grid {
    -moz-column-width: 350px;
    -webkit-column-width: 350px;
    column-width: 350px;
}

.line {
    border: 1px solid #CCC;
    border-radius: 3px;
    display: inline-block;
    max-width: 350px;

    .line-line {
        font-size: 24px;
    }

    .line-voteup, .line-votes, .line-votedown, .line-flag {
        display: inline-block;
    }
}
