/**
 * fansubebooks.chaostangent.com
 *
 * @author John Noel <john.noel@chaostangent.com>
 * @package FansubEbooks
 */

$beige: #FBFBF9;
$grey: #444;
$orange: #D54000;
$beige-light: #E6E4DD;

$header-font-family: Vegur, Arial, 'Helvetica Neue', Helvetica, sans-serif;
$header-font-base-size: 32px;
$header-font-color: #111;

$body-font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
$body-font-base-size: 18px;
$body-font-color: $grey;

@import 'reset';

@mixin container() {
    max-width: 960px;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $header-font-family;
    color: $header-font-color;
}

h1 {
    font-size: $header-font-base-size;
    line-height: $header-font-base-size;
}

a {
    color: $orange;
    text-decoration: underline;
}

body {
    background: $beige;
    font-family: $body-font-family;
    font-size: $body-font-base-size;
    line-height: $body-font-base-size * 1.5;
    color: $body-font-color;
}

.marque {
    font-family: $header-font-family;
    font-weight: bold;
    font-size: 28px;
    letter-spacing: -1.5px;
    text-decoration: none;

    .marque-alt {
        color: $body-font-color;
        transition: color 0.1s linear;
    }

    &:hover .marque-alt {
        color: $orange;
    }
}

.global-header {
    @include container;
    border-bottom: 1px solid $beige-light;
    position: relative;
    padding-top: 12px;

    .global-nav {
        position: absolute;
        right: 0;
        top: 12px;
    }
}

.global-nav {
    font-size: $body-font-base-size * 0.8;

    li {
        display: inline-block;
        margin-left: 12px;
    }

    a {
        text-decoration: none;
        color: $body-font-color;
    }

    .on a {
        color: $orange;
        font-weight: bold;
    }
}

.global-footer {
    @include container;
    clear: both;
    border-top: 1px solid $beige-light;
    font-size: $body-font-base-size * 0.6;
}


.line-grid {
    -moz-column-width: 350px;
    -webkit-column-width: 350px;
    column-width: 350px;
}

.line {
    border: 1px solid #CCC;
    border-radius: 3px;
    display: inline-block;
    max-width: 350px;

    .line-line {
        font-size: 24px;
    }

    .line-voteup, .line-votes, .line-votedown, .line-flag {
        display: inline-block;
    }
}
