parameters:
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    secret:            ThisTokenIsNotSoSecretChangeIt

    twitter:
        app_id: ~
        consumer_key: ~
        consumer_secret: ~
        access_token: ~
        secret_token: ~

    script_temp_storage: "%kernel.root_dir%/../uploadedscripts/"
