{% extends '::layout.html.twig' %}

{% block body %}
<div class"most-recent">
    {{ latest_tweet.line.line }}
</div>

<div class="stats">
    Stats
</div>

<div class="upcoming">
</div>

<div class="browse-by">
</div>
{% endblock %}
