{% extends '::layout.html.twig' %}
{% set location = 'help' %}

{% block body %}
<h2>Contribute a script</h2>
{% if form is not defined %}
<p>Thanks for contributing a script! It might take a couple of days to make it into the library, but if you <a href="https://twitter.com/fansub_ebooks">tweet @fansub_ebooks</a> you can keep updated on progress.</p>
{% else %}
<p>There was an error submitting your script contribution, any errors are displayed below</p>
{{ form(form) }}
{% endif %}
{% endblock %}
