{% if user is not null %}
<div class="quiz container">
    <div class="quiz-score">
        <span class="quiz-score-correct"><b>5</b> correct</span>
        <span class="quiz-score-wrong"><b>3</b> wrong</span>
        <span class="quiz-score-passed"><b>4</b> passed</span>
    </div>

    <div class="quiz-loggedin">
        <img src="{{ user.avatar }}" alt="">
        @{{ user.displayName }}

        <a href="{{ path('quiz_logout') }}" class="btn btn-action">Logout</a>
    </div>
</div>
{% endif %}
