{% extends '::layout.html.twig' %}
{% set location = 'series' %}

{% block title %}Exploring series{% endblock %}

{% block body %}
<article>
    <header class="page-header">
        <h2 class="page-header-title">Browse by series</h2>
        <div class="page-header-actions">
            <a href="{{ path('help') }}#suggest_series">Suggest a series!</a>
        </div>
    </header>

    {% if series|length > 0 %}
    <ul class="series-grid">
        {% for s in series %}
        <li>
            {% include 'ChaosTangentFansubEbooksAppBundle::series.html.twig' with { 'series': s } %}
        </li>
        {% endfor %}
    </ul>

    {% include 'ChaosTangentFansubEbooksAppBundle::pagination.html.twig' with {
        'route': 'series',
        'page': series.page,
        'pages': series.pages,
    } %}
    {% endif %}
</article>
{% endblock %}
