{% extends '::layout.html.twig' %}
{% set location = 'series' %}

{% block title %}Exploring series{% endblock %}

{% block body %}
<article>
    <header class="page-header">
        <h2 class="page-header-title">Browse by series</h2>
        <div class="page-header-actions">
            <a href="{{ path('help') }}#suggest-a-series">Suggest a series!</a>
        </div>
    </header>

    {% if series|length > 0 %}
    <div class="seriesgrid">
        {% for s in series %}
        {% include 'ChaosTangentFansubEbooksAppBundle::series.html.twig' with { 'series': s } %}
        {% endfor %}

        {# a whole lot of fudge for taming flexbox #}
        {% if series|length % 5 > 0 %}
        {% for i in 1..((series|length % 5) - 1) %}
        <div class="series"></div>
        {% endfor %}
        {% endif %}
    </div>

    {% include 'ChaosTangentFansubEbooksAppBundle::pagination.html.twig' with {
        'route': 'series',
        'page': series.page,
        'pages': series.pages,
    } %}
    {% endif %}
</article>
{% endblock %}
