{% extends '::layout.html.twig' %}

{% block body %}
<h2>Searching series {{ series.title }}</h2>
<form method="get" action="">
    <fieldset>
        <legend>Search</legend>
        <div>
            <label for="search-query">Search term</label>
            <input type="text" name="q" placeholder="magical" value="{{ query|default('') }}">
        </div>
        <button type="submit">Search</button>
    </fieldset>
</form>

{% if results|length > 0 %}
<ul>
    {% for line in results %}
    <li>{{ line.line }}</li>
    {% endfor %}
</ul>

{% include 'ChaosTangentFansubEbooksAppBundle::pagination.html.twig' with {
    'route': 'series_search',
    'route_params': {
        'alias': series.alias,
        'q': results.query
    },
    'page': results.page,
    'pages': results.pages
} %}
{% endif %}
{% endblock %}
