{% extends '::layout.html.twig' %}
{% set location = 'popular' %}

{% block title %}Popular{% endblock %}

{% block body %}
<h1>Popular</h1>

{% if lines|length > 0 %}
<ul class="line-grid">
    {% for line in lines %}
    <li>{% include 'ChaosTangentFansubEbooksAppBundle::line.html.twig' with { 'line': line } %}</li>
    {% endfor %}
</ul>

{% include 'ChaosTangentFansubEbooksAppBundle::pagination.html.twig' with {
    'route': 'popular',
    'page': lines.page,
    'pages': lines.pages
} %}
{% endif %}
{% endblock %}
