{% extends '::layout.html.twig' %}
{% set location = 'popular' %}

{% block head %}
{% spaceless %}
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="fansub_ebooks">
<meta name="og:title" content="Popular lines on FansubEbooks">
<meta name="og:description" content="Explore the most popular lines on FansubEbooks">
{% endspaceless %}
{% endblock %}

{% block title %}Popular{% endblock %}

{% block body %}
<article>
    <header class="page-header">
        <h1>Popular <small>according to votes, updated every five minutes</small></h1>
    </header>

    {% if lines|length > 0 %}
    <div class="line-grid">
        {% for line in lines %}
        {% include 'ChaosTangentFansubEbooksAppBundle::line.html.twig' with { 'line': line } %}
        {% endfor %}
    </div>

    {% include 'ChaosTangentFansubEbooksAppBundle::pagination.html.twig' with {
        'route': 'popular',
        'page': lines.page,
        'pages': lines.pages
    } %}
    {% endif %}
</article>
{% endblock %}
