{% extends '::layout.html.twig' %}
{% set location = 'search' %}

{% block title %}Search{% endblock %}

{% block body %}
<h1>Search</h1>

<form method="GET" action="">
    <fieldset>
        <legend>Search</legend>
        <div>
            <label for="search-query">Search term</label>
            <input type="text" name="q" placeholder="magical" value="{{ query|default('') }}">
        </div>
        <button type="submit">Search</button>
    </fieldset>
</form>

{% if series_results|length > 0 %}
<h4>Top matched series</h4>
<ul>
    {% for series in series_results %}
    <li>{{ series.title }}</li>
    {% endfor %}
</ul>
{% endif %}

{% if line_results|length > 0 %}
<h4>Matched lines</h4>
<ul>
    {% for line in line_results %}
    <li>{{ line.line }}</li>
    {% endfor %}
</ul>
{% include 'ChaosTangentFansubEbooksAppBundle::pagination.html.twig' with {
    'route': 'search',
    'route_params': {
        'q': line_results.query
    },
    'page': line_results.page,
    'pages': line_results.pages
} %}
{% endif %}

{% endblock %}
